{% load render_table from django_tables2 %}
<!doctype html>
<html>

<!-- <h1>{{STATIC_URL}}</h1> -->

<!-- Top Navigation Bar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR-r8rxGIIcLiiUFyKTCraaZKaLx-jXdt1PyQCz8XQW6Pqtgg1G" width=30>
          </a>
          <p class="navbar-text navbar-right">
            <a href="http://localhost:8000/admin/" class="navbar-link">Go to Admin Site</a>
          </p>
        </div>
      </div>
    </nav>


<!-- Header -->
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
				<h2 div align="center">Wizeline Employee Directory</h2>
        <br>
		</head>

<!-- Filters: HTML found in filtering.html -->
    <body>
			{% block content %} {% endblock %}
      <br>

<!-- Employee Table -->
      {% render_table table %}
    </body>
</html>

 </table>
