<!-- Filtering template -->

{% extends "employee_directory/employee_table.html" %}

{% block content %}

<form action="" method="get">
  <div class="row">
    <!-- Global Search -->
    <div class="col-md-3">
     <p>
       <label for="id_global_search">Global search:</label>
       <input id="id_global_search" name="global_search" type="text" placeholder="Search any field">
       <span class="helptext"></span>
     </p>
    </div>

    <div class="col-md-3">
      <p>
        <label for="id_full_name">Name:</label>
        <input id="id_full_name" name="full_name" type="text" placeholder="Name">
        <span class="helptext"></span>
      </p>
    </div>

    <div class="col-md-3">
      <p>
        <label for="id_team">Team:</label>
        <input id="id_team" name="team" type="text" placeholder="Team">
        <span class="helptext"></span>
      </p>
    </div>

    <div class="col-md-3">
      <input type="submit">
    </div>
  </div>

</form>

  <!-- <form action="" method="get">

     {{ filter.form.as_p }}

  </form> -->

{% endblock content %}
